body {
    background: rgb(126, 215, 250)
}


button {
    background: rgb(51, 129, 255);
}

.launchersbtn {
    margin-top: 40px;
}

li {
     text-align: left;
}

#likeButton {
    margin-bottom: 40px;
}
